*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.centratura{
  padding: 0 7%;
}

.centratura::after{
  content: "";
  display: table;
  clear: both;
}


/* BARRA FISSA */

.barrafix{
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #f0efef;
  position: fixed;
  z-index: 999;
  top:0;
  left:0;
  border-bottom: 1px solid black;
}

.barrafix::after{
  content: "";
  display: table;
  clear: both;
}
.fix50{
  float:left;
  width: 50%
}

.fix50 li{
  display: inline-block;
}


select{
  border: none;
  background-color: transparent;
}

#asta{
  padding: 6px;
  border-left: 1px solid black;
  margin-left: 10px;
}

.barrafix .fix50:last-of-type {
  float:right;
  text-align: right;
}

#lente{
  color: #03a7bf;
}

#bot-bianco{
  padding: 5px 8px;
  border: 1px solid #fe775a;
  color:#fe775a;
  background-color: transparent;
  border-radius: 3px;
  font-size: 14px;
}

.fix50 .bottone-arancio{
  padding: 7px 9px;
  font-size: 13px;
}


#li-1{
  padding-right: 15px;
}

#li-2{
  padding-right: 15px;
}

/* BARRALOGOMENU */

.riga5{
  float: left;
  width: 25%;
  height: 50px;
  text-align: center;
  line-height: 50px;

}
.riga50x{
  float: left;
  width: 50%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.riga50::after{
  content: "";
  display:table;
  clear: both;
}

.riga5 .bottone-arancio{
  padding: 7px 10px;
  background-color: #fe775a;
  color: white;
  border-radius: 3px;
  font-size: 15px;
  margin-left: 30px;
}


.barralogomenu{
  width: 100%;
  height: 50px;
  background-color: white;
  margin-top: 50px;

}

.barralogomenu img{
  margin-right: 200px;
  margin-top: 10px;
}


nav{
  display: inline-block;
}

.barralogomenu ul{
  display: inline-block;
  margin-left: 170px;
}

.barralogomenu li{
  display:inline-block;
  padding: 0 10px;
}

a{
  text-decoration: none;
  color: black;
}


/* SETTORE ROSA JUMBO */


#settorerosa{
  height: 700px;
  width: 100%;
  background-image: url(../img/jumbotron.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  padding-top:30px;
}

.titolo{
  height: 100px;
  width: 450px;
  margin: 30px 0;
  font-size: 20px;
}

.bloccotxt{
  height: 100px;
  width: 450px;
  padding-top: 5px;
}


/* SETTORE GRIGIO */


#settoregrigio{
  height: auto;
  width: 100%;
  background-color: #edf4fa;
}

/* BLOCCO CUBO */

.colonna100{
  height: 350px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

#cubo{
  height: 150px;
  width: auto;
  margin-top: 30px;
}

/* BLOCCO CRM */

.colonna100 h2{
  margin-bottom: 20px;
}

.crm:after{
  content: "";
  display:table;
  clear:both;
}

.crm{
  background-color: #f5f5f5;
  border: 2px solid #d1e2ef;
  height: 340px;
}

.crmtxt{
  float: left;
  width: 70%;
  min-height: 250px;
}
.crm img{
  height: 100px;
  width: auto;
  margin-top: 60px;
}

.crm h3{
  margin-top: 60px;
}

.crm p{
  margin-top: 30px;
}

.colonnacrm{
  float: left;
  width: 30%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.colonnacrm2{
  float: left;
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

}
.colonnacrm2 i{
  color: #fe775a;
}
.colonnacrm2 ul{
  margin-left: -10px;
}

#but{
  margin: 30px 0 50px 0;
}

.bottone-arancio{
  padding: 15px 20px;
  background-color: #fe775a;
  color: white;
  border-radius: 3px;
  font-size: 15px;
}

.bottone-arancio:hover{
  opacity: 0.3;
}

/* BLOCCO 3 COLONNE */

.trecolonne{
  margin-top: 50px;
  margin-bottom: 50px;
}

.trecolonne::after{
  content: "";
  display: table;
  clear: both;
}

.colonna33{
  float: left;
  height: 605px;
  width: 30%;
  border: 2px solid #d1e2ef;
  margin-right: 60px;
  text-align: center;
  background-color: #f5f5f5;
}
.colonna33dx{
  float: right;
  height: 605px;
  width: 30%;
  border: 2px solid #d1e2ef;
  text-align: center;
  background-color: #f5f5f5;
}

.txtcolonna{
  padding: 0 25px;
}


.divisore{
  margin: 40px 25px 30px 25px;
  border-bottom: 1px solid black;
}

.popolar{
  padding: 20px 0;
  font-weight: bold;
}


.colonna33 img{
  height: 100px;
  width: auto;
  margin: 20px 0;
}

.colonna33 h3{
  margin: 20px 0;
}

.colonna33 li{
  text-align: left;
  padding-left: 35px;

}
.colonna33 ul{
  margin-bottom: 50px;
  list-style-type: none;
}

.colonna33 i{
  color: #fe775a;
  padding-right: 10px;
}


.colonna33dx img{
  height: 100px;
  width: auto;
  margin: 20px 0;
}

.colonna33dx h3{
  margin: 20px 0;
}

.colonna33dx li{
  text-align: left;
  padding-left: 35px;

}
.colonna33dx ul{
  margin-bottom: 50px;
  list-style-type: none;
}

.colonna33dx i{
  color: #fe775a;
  padding-right: 10px;
}

/* SETTORE AZZURRO */

#settoreazzurro{
  height: auto;
  width: 100%;
  background-color: #00a7ba;
  background-image: linear-gradient(to right, #00a7ba , #00bba6);
}

.colonna100b{
  height: 190px;
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 15px;

}

.colonna100c{
  height: 300px;
  width: 100%;
  margin-left: 10px;
  text-align: center;
  display: block;
  margin-bottom: 60px;
}

.settore-azz-titolo{
  padding-top: 35px;
  color: white;
}

.colonna100b .txtpiccolo{
  margin-top: 25px;
  font-size: 11px;
  color:white;

}

.txtpiccolo p{

  padding-bottom: 7px;
}

.riga1-schema{
width: auto;
}

.riga1-schema::after{
  content:"";
  display:table;
  clear:both;
}

.alto{
  float: left;
  height: 150px;
  width: 300px;
  border-right: 1px solid white;
  padding-top: 10px;
}

.altox{
  float: left;
  height: 150px;
  width: 300px;
  padding-top: 10px
}


.piu{
  display: inline-block;
  color:white;
}

/* PRIMA RIGA */

.riga1-schema i{
  color:white;
  display: block;
}

.riga1-schema h4{
  color:white;
  font-size: 30px;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 10px;
}


.riga1-schema .minilogo{
  height: 16px;
  width: auto;
  display: block;
  filter: brightness(0) invert(1);
  padding-left: 115px;
}

.colonna100c .txtpiccolo{
  font-size: 11px;
  color:white;
}

/* SECONDA RIGA */


.riga2-schema::after{
  content:"";
  display:table;
  clear:both;
}

.riga2-schema i{
  color:white;
  display: block;
  margin-bottom: 5px;
}

.riga2-schema h4{
  color:white;
  font-size: 30px;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 10px;
}


.riga2-schema .minilogo{
  height: 15px;
  width: auto;
  display: block;
  filter: brightness(0) invert(1);
  padding-left: 70px;
}

.basso{
  float: left;
  height: 150px;
  width: 300px;
  border-right: 1px solid white;
  border-top: 1px solid white;
  padding-top: 15px
}

.bassox{
  border-top: 1px solid white;
  float: left;
  height: 150px;
  width: 300px;
  padding-top: 15px
}

/* SETTORE TIPA */

#settoretipa{
  height: 550px;
  width: 100%
}
.riga1-tipa{
  height: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.riga1-tipa::after{
  content: "";
  display: table;
  clear: both;
}

.riga2-tipa{
  height: 300px;
  width: 100%;
  margin-bottom: 15px;
}

.riga1-tipa .colonna1{
  float: left;
  width: 20%;
  height: 200px;
  margin: 15px auto 20px 50px;
}


.riga1-tipa h4{
  padding: 35px ;
  font-size: 35px;
}

.riga1-tipa .colonna2{
  float: left;
  width: 75%;
  height: 200px;
  line-height: 200px;
  margin-left: 7px;
  text-align: right;
  margin-top:20px;
}
#aziende{
  height: 200px;
  width: 650px;
  padding-top: 10px;
  margin-right:100px;

}

.riga2-tipa::after{
  content: "";
  display: table;
  clear: both;
}
.riga2-tipa .colonna1{
  float: left;
  width: 50%;
  height: 300px;
  padding: 15px;
}
.riga2-tipa .colonna1 #testo{
  margin-top:25px;
  margin-bottom: 25px;
}

.riga2-tipa .colonna1 #bottone{
  margin: 45px auto;
}

.riga2-tipa .colonna1 .txtpiccolo{
font-size: 11px;
}

.riga2-tipa .colonna2{
  float: right;
  width: 50%;
  height: 300px;
  text-align: right;
}

.riga2-tipa .colonna2 img{
  height: 250px;
  width: auto;
  margin-right: 95px;
}

/* FOOTER */

footer{
  background-color: #32495b;
  color: white;
}
.footmain::after{
  content: "";
  display: table;
  clear: both;
}

.footmain{
  padding-top: 25px;
  padding-bottom: 35px;
}

.colonna25{
  float: left;
  width: 25%;
  height: 200px;
  padding-right: 30px;
}

.footmain .colonna25 h4{
  margin-bottom: 25px;
}


.footmain .colonna25 li{
list-style-type:none;
padding-bottom: 15px;
}

.footmain .colonna25 a{
color: white;
}


#abot{
  padding: 7px 10px;
  background-color: #dadee0;
  color: #32495b;
  border-radius: 3px;
  font-size: 15px;
}

ul2 li{
  display: inline-block;
  padding-right: 20px;
}


/* ZONA FOOTER CENTRALE LINGUE RIGA */
.linguafoot{
  height: 100px;
  width: 100%;
  border-bottom: 1px solid white;
  margin-top: 20px;
  text-align: center;
  line-height: 160px;
}
.linguafoot a{
  color: white;
  padding-right: 20px;
}

/* FOOTER PARTE PIU' BASSA */

.footbot{
  height: auto;
  width: 100%;
  padding-top: 10px;
}

.footbot{
  content: "";
  display: table;
  clear:both;
  margin-bottom: 30px;
}

.footbot .riga50{
  float:left;
  width: 20%;
  text-align: left;

}
.footbot img{
  filter: brightness(0) invert(1);
  padding-top: 20px;
  padding-bottom: 10px;
}

.footbot .riga50dx{
  float:right;
  width: 20%;
  text-align: right;
  padding-top: 25px;
}
.footbot .riga50dx a{
color: white;
padding-right: 30px;
}
