*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.centratura{
  padding: 0 7%;
}

.centratura::after{
  content: "";
  display: table;
  clear: both;
}

.barrafissa{
  width: 100%;
  height: 50px;
  background-color: #f0efef;
  position: fixed;
  z-index: 999;
  top:0;
  left:0;
  border-bottom: 1px solid black;
}

.riga50{
  float: left;
  width: 25%;
  height: 50px;
  text-align: center;
  line-height: 50px;

}
.riga50x{
  float: left;
  width: 50%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.riga50::after{
  content: "";
  display:table;
  clear: both;
}

.lingua{
  float:left;
  height: 100%;
  width: 35%;
  margin-right: 10px;
}

.barrettavert{
  float:left;
  height: 20px;
  width: 5%;
  border-left: solid 1px black;
  margin-top: 15px;

}

.contact{
  float:left;
  height: 100%;
  width: 25%;
}


.blocco-tasto-arancio{
  float:left;
  height: 100%;
  width: 15%;

}



.ricerca{
  float:left;
  height: 100%;
  width: 5%;
  margin-left: 50px;
  border: 1px red solid;
}

.log{
  float:left;
  height: 100%;
  width: 15%;
  margin-left: 25px;
  border: 1px red solid;

}

.tastolog{
  position: relative;
  height: 40px;
  width: 60px;
  margin-left: 10px;
  border: 1px solid #fe775a;
  top: 5px;
  line-height: 40px;
  border-radius: 3px;
  color: #fe775a;
  background-color: white;
}


.tastoarancio{
  /* float:left; */
  height: 40px;
  width: 120px;
  margin-left: 40px;
  border: 1px solid white ;
  line-height: 40px;
  border-radius: 6px;
  color: white;
  background-color: #fe775a;
  margin-top: 5px;
}

.tastoarancio2{
  height: 100px;
  width: 40%;
  /* border: 1px solid red; */
}
.bottonearancio2{
  height: 60px;
  width: 180px;
  margin-top: 20px;
  border: 1px solid white ;
  line-height: 60px;
  border-radius: 6px;
  color: white;
  background-color: #fe775a;
  text-align: center;
  /* padding: 5px; */
}

.barralogomenu{
  width: 100%;
  height: 50px;
  background-color: white;
  margin-top: 50px;

}

.barralogomenu img{
  margin-right: 200px;
  margin-top: 10px;
}



nav{
  display: inline-block;
}

.barralogomenu ul{
  display: inline-block;
  margin-left: 170px;
}

.barralogomenu li{
  display:inline-block;
  padding: 0 10px;
}

a{
  text-decoration: none;
  color: black;
}


.titolo{
  height: 100px;
  width: 450px;
  /* border: 2px solid black; */
  margin: 30px 0;
  font-size: 20px;
  /* padding-top: 30px; */

}

.bloccotxt{
  height: 100px;
  width: 450px;
  /* border: 2px solid black; */
  padding-top: 5px;
}

/* SETTORE GRIGIO */

#settoregrigio{
  height: auto;
  width: 100%;
  background-color: #edf4fa;
}

.colonna100{
  height: 350px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

.colonna100 img{
  height: 150px;
  width: auto;
  margin-top: 30px;
}

.colonna100 h2{
  margin-bottom: 20px;
}

.crm:after{
  content: "";
  display:table;
  clear:both;
}

.crm{
  background-color: white;
  border: 2px solid #d1e2ef;
  height: 340px;
}

.crmtxt{
  float: left;
  width: 70%;
  min-height: 250px;
}
.crm img{
  height: 100px;
  width: auto;
  margin-top: 60px;
}

.crm h3{
  margin-top: 60px;
}

.crm p{
  margin-top: 30px;
}

.colonnacrm{
  float: left;
  width: 30%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.colonnacrm2{
  float: left;
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

}
.colonnacrm2 i{
  color: #fe775a;
}
.colonnacrm2 ul{
  margin-left: -10px;
}

.bottone-arancio{
  padding: 15px 20px;
  background-color: #fe775a;
  color: white;
  border-radius: 3px;
  font-size: 15px;
}


.trecolonne{
  margin-top: 50px;
}

.trecolonne::after{
  content: "";
  display: table;
  clear: both;
}

.colonna33{
  float: left;
  height: 605px;
  width: 30%;
  border: 2px solid black;
  margin-right: 60px;
  text-align: center;
}
.colonna33dx{
  float: right;
  height: 605px;
  width: 30%;
  border: 2px solid black;
  text-align: center;
}

.txtcolonna{
  padding: 0 25px;
}


.divisore{
  margin: 40px 25px 30px 25px;
  border-bottom: 1px solid black;
}

.popolar{
  padding: 20px 0;
  font-weight: bold;
}


.colonna33 img{
  height: 100px;
  width: auto;
  margin: 20px 0;
}

.colonna33 h3{
  margin: 20px 0;
}

.colonna33 li{
  text-align: left;
  padding-left: 35px;

}
.colonna33 ul{
  margin-bottom: 50px;
  list-style-type: none;
}

.colonna33 i{
  color: #fe775a;
  padding-right: 10px;
}


.colonna33dx img{
  height: 100px;
  width: auto;
  margin: 20px 0;
}

.colonna33dx h3{
  margin: 20px 0;
}

.colonna33dx li{
  text-align: left;
  padding-left: 35px;

}
.colonna33dx ul{
  margin-bottom: 50px;
  list-style-type: none;
}

.colonna33dx i{
  color: #fe775a;
  padding-right: 10px;
}

/* SETTORE AZZURRO */

#settoreazzurro{
  height: auto;
  width: 100%;
  background-color: #00afb3;
}

.settore-azz-titolo{
  padding-top: 20px;
  color: white;
}

.txtpiccolo{
  font-size: 11px;
  color:white;
}
.txtpiccolo p{
  padding-bottom: 7px;
}

.riga1-schema{
margin-left: 200px;
width: auto;
}

.riga1-schema::after{
  content:"";
  display:table;
  clear:both;
}

.alto{
  float: left;
  height: 120px;
  width: 200px;
  border-right: 1px solid white;
  padding-top: 10px;
}

.altox{
  float: left;
  height: 120px;
  width: 200px;
}
.riga1-schema i{
  margin-bottom: 5px;
}
.piu{
  display: inline-block;
  color:white;

}
.riga1-schema i{
  color:white;
  display: block;

}

.riga1-schema h4{
  color:white;
  font-size: 30px;
  display: inline-block;
  margin-bottom: 15px;
}
.alto .txtpiccolo{
  margin-bottom: 20px;
}
.riga2-schema{
  margin-left: 200px;
  width: auto;
}
.riga2-schema::after{
  content:"";
  display:table;
  clear:both;
}

.basso{
  float: left;
  height: 120px;
  width: 200px;
  border-right: 1px solid white;
  border-top: 1px solid white;
}

.bassox{
  border-top: 1px solid white;
  float: left;
  height: 120px;
  width: 200px;
}




#settorerosa{
  height: 700px;
  width: 100%;
  background-image: url(../img/jumbotron.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  padding-top:30px;
  }

}


#settoretipa ::after{
  content: "";
  display: table;
  clear: both;
}

.colonna50{
  float: left;
  width: 50%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  text-align: center;
}


.footmain::after{
  content: "";
  display: table;
  clear: both;
}

.linguafoot{
  height: 100px;
  width: 100%;
  border: 2px solid pink;
}

.colonna25{
  float: left;
  width: 25%;
  height: 200px;
  border: 2px solid black;
  background-color: blue;
}
