*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.centratura{
  padding: 0 5%;
}
.centratura::after{
  content: "";
  display: table;
  clear: both;
}

.barrafissa{
  width: 100%;
  height: 100px;
  background-color: grey;
  position: fixed;
  z-index: 999;
  top:0;
  left:0;
}

.riga50{
  float: left;
  width: 50%;
  height: 100px;
  border: 2px solid black;

}

.riga50::after{
  content: "";
  display:table;
  clear: both;
}

.lingua{
  float:left;
  height: 100%;
  width: 35%;
  border: 1px solid red;
}
.barrettavert{
  float:left;
  height: 100%;
  width: 30%;
  border: 1px solid red;
}
.contact{
  float:left;
  height: 100%;
  width: 35%;
  border: 1px solid red;
}

.ricerca{
  float:left;
  height: 100%;
  width: 20%;
  border: 1px solid red;
}
.log{
  float:left;
  height: 100%;
  width: 40%;
  border: 1px solid red;
}

.tastoarancio{
  float:left;
  height: 100px;
  width: 40%;
  border: 1px solid red;
}

.tastoarancio2{
  height: 100px;
  width: 40%;
  border: 1px solid red;
}

.barralogomenu{
  width: 100%;
  height: 100px;
  background-color: red;
  margin-top: 100px;

}
.bloccotest{
  height: 100px;
  width: 100px;
  border: 2px solid black;
}

.colonna100{
  height: 200px;
  width: 100%;
  border: 2px solid black;
}
.trecolonne::after{
  content: "";
  display: table;
  clear: both;
}

.colonna33{
  float: left;
  height: 200px;
  width: 33%;
  border: 2px solid black;
}

#settorerosa{
  height: auto;
  width: 100%;
  background-color: pink;
}
#settoregrigio{
  height: auto;
  width: 100%;
  background-color: grey;
}
#settoreazzurro{
  height: auto;
  width: 100%;
  background-color: #00afb3;
}
#settoretipa ::after{
  content: "";
  display: table;
  clear: both;
}

.colonna50{
  float: left;
  width: 50%;
  height: 200px;
  border: 2px solid black;
}

.footmain::after{
  content: "";
  display: table;
  clear: both;
}

.linguafoot{
  height: 100px;
  width: 100%;
  border: 2px solid pink;
}

.colonna25{
  float: left;
  width: 25%;
  height: 200px;
  border: 2px solid black;
  background-color: blue;
}
